.ui.secondary.pointing.menu
  a.item.active(href='/') Início
  a.item(href='/novo') Novo Produto
  a.item(href='/produtos') Ver Produtos
  .right.menu
    .item
      .ui.transparent.icon.input.sair
        input(type='text', placeholder='Pesquisar ...')
        i.search.link.icon
    a.ui.item.logout#sair(href='/auth/signin') Log in
    a.ui.item.logout#sair(href='/auth/signup') Cadastrar
    //a(class=['ui', 'item', 'logout'])= 'Logout'
