extends ../default

block content
  
  .login#root
  script.
    var lock = new Auth0Lock('sLR7GCeCEpfxdCbUOhF7e3IsIMgiZvDa', 'nyeedz.auth0.com',{ auth: {
      redirectUrl: 'http://localhost:3000/callback',
      responseType: 'code',
      params: {
          scope: 'openid name email picture'
      }
    }});
    lock.show();
  
