extends ../default

block content

  include ../templates/nav
  
  .ui.container.grid.stackble
    .row
    .sixteen.wide.column
      h2.ui.header.blue.dividing Cadastrar
    .two.wide.column
    .eleven.wide.column
      .form-novoproduto
        form.ui.form(action='/auth/signup', method='post', autocomplete='off')
          .ui.field.required
            label(for='nome') Nome
            input(type='text', name='nome', placeholder='Nome')
          .ui.field.required
            label(for='email') Email
            input(type='email', name='email', placeholder='Email')
          .ui.field.required
            label(for='password') Senha
            input(type='password', name='password', placeholder="Senha")
          .ui.field.required
            label(for='repeatpassword') Repetir senha
            input(type='password', name='repeatpassword', placeholder='Repetir senha')
          button.ui.button.basic.green Cadastrar
          button.ui.button.basic.blue Limpar
          .ui.message.error
