div(class=['ui', 'secondary', 'menu'])
  a(class=['active', 'item'])= 'Início'
  a(class='item')= 'Novo Produto'
  a(class='item')= 'Ver produtos'
  div(class=['right', 'menu'])
    div(class='item')
      div(class=['ui', 'icon', 'input'])
        input(type='text' placeholder="Pesquisar...")
        i(class=['search', 'link', 'icon',])
    a(class=['ui', 'item'])= 'Logout'
