extends ../default

block content

  include ../templates/nav
  
  .ui.container.grid.stackble
    .row
    .sixteen.wide.column
      h2.ui.header.blue.dividing Cadastrar Produto
    .two.wide.column
    .eleven.wide.column
      .form-novoproduto
        form.ui.form(action='/criarproduto', method='post', autocomplete=off)
          .ui.field.required
            label(for='preco') Nome do Produto
            input(type='text', name='preco', placeholder='Nome do Produto')
          .ui.two.fields
            .ui.field.required
              label(for='preco') Preco
              input(type='text', name='preco', placeholder='Preço')
            .ui.field.required
              label(for='estoque') Estoque
              input(type='text', name='estoque', placeholder='Estoque')
          button.ui.button.basic.green Adicionar Produto
        if info != undefined
          .ui.message.error
          .ui.message.success
            i.close.icon
            .header Produto Registrado !
              p= info
